<ion-content [fullscreen]="true">
  <!-- Cold observable-->
  <h1>Cold Observables</h1>
  <p *ngIf="data$ | async as myData">{{myData.title}}</p>
  <p *ngIf="data$ | async as myData">{{myData.id}}</p>

  <!-- Hot observables-->

  <h1>Hot Observables</h1>
  <p>{{cont}}</p>
  <button (click)="start()">Start</button>
  <button (click)="stop()">Stop</button>

  <!--Hight order observables-->
  <h1>Hight order observables</h1>
  <div *ngIf="dataCharacter$ | async as myCharacter">
    <p>{{myCharacter.name}}</p>
  </div>
</ion-content>
