<ion-content [fullscreen]="true">
  <!-- Cold observable-->
  <h1>Cold Observables</h1>
  <p *ngIf="data$ | async as myData">{{myData.title}}</p>
  <p *ngIf="data$ | async as myData">{{myData.id}}</p>

  <!-- Hot observables-->

  <h1>Hot Observables</h1>
  <p>{{cont}}</p>
  <button (click)="start()">Start</button>
  <button (click)="stop()">Stop</button>

  <!--Hight order observables-->
  <h1>Hight order observables</h1>
  <div *ngIf="dataCharacter$ | async as myCharacter">
    <p>{{myCharacter.name}}</p>
  </div>

  <!-- Map tranforms -->
  <h1>MAP</h1>
  <div>
    <table>
      <thead>
        <tr>
          <th>NAME</th>
          <th>EMAIL</th>
          <th>COUNTRY</th>
          <br />
          <th>POSTCODE</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="bg-white border-b dark:bg-gray-900 dark:border-gray-700"
          *ngFor="let user of users"
        >
          <th>{{user.name}}</th>
          <td class="px-6 py-4">{{user.email}}</td>
          <td class="px-6 py-4">{{user.countryName}}</td>

          <td class="px-6 py-4">{{user.location.postcode}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Switch map -->
  <h1>Switchmap</h1>
  <ion-searchbar
    placeholder="Buscar ..."
    (ionChange)="search($any($event))"
  ></ion-searchbar>

  <div *ngIf="results$ | async as results">{{ results | json }}</div>

  <!--take until-->

  <h1>takeuntil</h1>

  <ion-button (click)="startCount()" color="primary">Start</ion-button>
  <ion-button (click)="stopCount()" color="danger">stop</ion-button>

  <p>{{count }}</p>

  <!-- fromEvent-->

  <button #myButton>Boton</button>

  <h1>withLatestFrom</h1>

  <h3 *ngIf="combinedValues$ | async as combinedValues">
    Hola {{ combinedValues }}
  </h3>
  <form [formGroup]="formProfile">
    <input type="text" formControlName="nombre" placeholder="Nombre" /> <br />
    <input type="text" formControlName="apellidos" placeholder="Apellidos" />
  </form>
</ion-content>
